
.center {
    display: block;
    margin-left: 100;
    margin-right: auto;
    width: 80%;
}

body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/891/661/74/pattern-black-floral-dark-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

label {
    color: white;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  color: black;
  font-size: 16px;
}

.card h2 {
  font-size: 20px;
  margin-top: 0px;
}

.card p {
  margin-bottom: 0px;
}

.container {
  color: white;
}

.honesty-statement {
  color: white;
}

header {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fillustrations%2Fbanner-chess-game-pastime-header-5213788%2F&psig=AOvVaw0d2KatOMpeagV5-HLSJ5Gv&ust=1681422514946000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCICQ35Cppf4CFQAAAAAdAAAAABAP) no-repeat;
    background-size: cover;      
}

